
.chat-messages--bar {
  max-height: 256px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-background-color);
}

.chat-messages--bar--input {
  flex: 1;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid var(--light-border-color);
  resize: none;
}

.chat-messages--send-button {
  margin-left: 8px;
  cursor: pointer;
  background: none;
  border: none;
}
